o   -   Next.js-powered full-stack application that reads data from at least two separate JSON files.
x       -   Must use data fetching and pre-rendered static page generation to display a list of people by name on the home page.
x       -   Use dynamic routing to create a page component to display complete details about individual persons that retrieves
            data from at least two JSON files to render links to other related persons.
o       -   Use a Repl.it workspace to host your creation.
x       -   Manage your application's code using a GitHub repository and git from your workspace shell's command-line interface.
x       -   The final app should use the map() method within the code for the dynamically-routed page component [id].js file
x           to display one or more related entries identified in your JSON-based data model.
        -   Your development environment must also include functional installations of the Jest and React Testing libraries,
            with 
            -   at least one working unit test documented. The working unit test must be different than the 
                one demonstrated by the instructor.