o   -   Your Next.js-powered full-stack application must use data fetching and pre-rendered static page generation to display a list of people by name on the home page.
         Use a Repl.it workspace to host your creation. Manage your application's code using a GitHub repository and git from your workspace shell's command-line interface.

o   -   The finished app should use a single Firestore database with a collection containing documents holding individual data entries composed of fields. It is not required
        to deploy this assignment to Vercel.